.summarySection {
  width: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.summarySection > .title {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.summarySection > .title > .icon {
  margin-inline: 0.1rem;
  width: 32px;
  height: 32px;
  color: #333333;
}

.summarySection > .title > h2 {
  font-family: Google Sans;
  font-weight: 500;
  font-size: 1.4rem;
  color: #333333;
}

.summarySection > .cartel {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.summarySection > .cartel > .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.summarySection > .cartel > .info > h4 {
  font-family: Google Sans;
  font-weight: 500;
  color: #333333;
}

.summarySection > .cartel > .info > .email {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.summarySection > .cartel > .info > .email > .icon {
  width: 1.3rem;
  height: 1.3rem;
  color: #333333;
}

.summarySection > .cartel > .info > .text,
.summarySection > .cartel > .info > .email > h4 {
  font-family: Google Sans;
  font-weight: 400;
  color: #333333;
}

@media (min-width: 80rem) {
  .summarySection {
    width: 30rem;
  }
}
