.servicesSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 5rem;
}

.servicesSection > .servicesContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-inline: 1rem;
}

.servicesSection > .servicesContainer > .titleSection {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.servicesSection > .servicesContainer > .titleSection > .icon {
	min-width: 35px;
	max-width: 35px;
	height: auto;
	color: #333333;
}

.servicesSection > .servicesContainer > .titleSection > .pointer {
	cursor: pointer;
}

.servicesSection > .servicesContainer > .titleSection > .pointer:hover {
	color: #e94242;
}

.servicesSection > .servicesContainer > .titleSection > h2 {
	font-family: Google Sans;
	font-weight: 700;
	color: #333333;
	white-space: nowrap;
	font-size: 1.4rem;
}

.servicesSection > .servicesContainer > .titleSection > .line {
	width: 100%;
	border-top: 1px solid #333333;
}

.servicesSection > .servicesContainer > h3 {
	font-family: Google Sans;
	font-weight: 400;
	font-style: italic;
	color: #333333;
	font-size: 1rem;
}

.servicesSection > .servicesContainer > .renderServices {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.servicesSection > .servicesContainer > .renderServices > .service {
	position: relative;
	width: 11rem;
	height: 11rem;
	overflow: hidden;
	display: flex;
	background-color: #000000;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 0.3s;
	cursor: pointer;
	border: none;
	padding: 0rem;
	z-index: 1;
}

.servicesSection > .servicesContainer > .renderServices > .service:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
	z-index: 3;
} 

.servicesSection > .servicesContainer > .renderServices > .service > .image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: blur(0.5rem);
	z-index: 1;
}

.servicesSection > .servicesContainer > .renderServices > .service > .title {
	position: relative;
	font-family: Google Sans;
	font-style: normal;
	font-weight: 700;
	z-index: 2;
	text-align: center;
	color: #ffffff;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: rgb(2, 0, 36);
	background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}


@media (min-width: 900px) {
	.servicesSection > .servicesContainer > .renderServices > .service  {
		width: 15.6rem;
		height: 15.6rem;
	}
}

@media (min-width: 80rem) {
	.servicesSection {
		max-width: 80rem;
		margin: auto;
		margin-bottom: 5rem;
	}
}

@media (min-width: 1367px) {
	.servicesSection > .servicesContainer > .titleSection > h2 {
		font-size: 1.4rem;
	}

	.servicesSection > .servicesContainer > h3 {
		font-size: 1.2rem;
	}
}
