.purchase {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	z-index: 150;
	display: flex;
	align-items: center;
	justify-content: center;
}

.purchase > .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 151;
}

.purchase > .form {
	position: relative;
	background-color: #ffffff;
	z-index: 152;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.3rem;
	width: 100%;
}

.purchase > .form > h3 {
	font-family: Google Sans;
	font-weight: 700;
	color: #333333;
	font-size: 1.3rem;
	width: 100%;
	text-align: center;
}

.purchase > .form > .insufficientBalanceText {
	font-family: Google Sans;
	font-weight: 500;
	color: #333333;
	text-align: center;
}

.purchase > .form > .buttons {
	display: flex;
	gap: 0.5rem;
}

.purchase > .form > .buttons > .buy,
.purchase > .form > .buttons > .cancel {
	font-family: Google Sans;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	background-color: #e94242;
	border: 2px solid #ff716c;
	cursor: pointer;
	padding: 0.25rem 1rem;
	outline: none;
	border-radius: 0.5rem;
	transition: all 0.3s;
	width: 100%;
}

.purchase > .form > .buttons > .buy:hover,
.purchase > .form > .buttons > .cancel:hover {
	background-color: #c02e2e;
}

.purchase > .form > .summary {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.purchase > .form > .summary > .data {
	display: flex;
	justify-content: space-between;
}

.purchase > .form > .summary > .data > .text,
.purchase > .form > .summary > .data > .money,
.purchase > .form > .summary > .data > .green,
.purchase > .form > .summary > .data > .red {
	font-family: Google Sans;
	font-weight: 500;
	color: #333333;
}

.purchase > .form > .summary > .data > .green {
	color: #429867;
}

.purchase > .form > .summary > .data > .red {
	color: #c02e2e;
}

.purchase > .form > .summary > .data > .green,
.purchase > .form > .summary > .data > .red,
.purchase > .form > .summary > .data > .money {
	font-weight: 400;
}

.purchase > .form > .summary > .line {
	width: 100%;
	height: 1px;
	background-color: #333333;
	opacity: 0.3;
}

@media (min-width: 30rem) {
	.purchase > .form {
		width: 30rem;
	}
}
